<div id="<%= dom_id flight %>">
  <p>
    <strong>From:</strong>
    <%= flight.departure_airport.airport_code %>
  </p>
  
  <p>
    <strong>To:</strong>
    <%= flight.arrival_airport.airport_code %>
  </p>
  
  <p>
    <strong>Date of departure:</strong>
    <%= flight.departure_datetime %>
  </p>

  <p>
    <strong>Flight duration:</strong>
    <%= flight.flight_duration %>
  </p>

</div>
