<div id="<%= dom_id flight %>">
  <p>
    <strong>From:</strong>
    <%= flight.departure_airport.airport_code %>
  </p>
  
  <p>
    <strong>To:</strong>
    <%= flight.arrival_airport.airport_code %>
  </p>
  
  <p>
    <strong>Departs:</strong>
    <%= flight.departure_datetime %>
  </p>

  <p>
    <strong>Journey duration:</strong>
    <%= ((flight.arrival_datetime - flight.departure_datetime)/60/60).round(1) %>
    hours
  </p>

  <p>
    <strong>Arrives:</strong>
    <%= flight.arrival_datetime %>
  </p>
  
</div>
