<%= form_with(model: flight) do |form| %>
  <% if flight.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(flight.errors.count, "error") %> prohibited this flight from being saved:</h2>

      <ul>
        <% flight.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :flight_departure_airport_id, "From", style: "display: block" %>
    <%= form.collection_select :departure_airport_id, Airport.order(:airport_code), :id, :airport_code %>
  </div>

  <div>
    <%= form.label :flight_arrival_airport_id, "To", style: "display: block" %>
    <%= form.collection_select :arrival_airport_id, Airport.order(:airport_code), :id, :airport_code %>
  </div>

  <div>
    <%= form.label :departure_datetime, "Departs", style: "display: block" %>
    <%= form.datetime_field :departure_datetime %>
  </div>

  <div>
    <%= form.label :arrival_datetime, "Arrives", style: "display: block" %>
    <%= form.datetime_field :arrival_datetime %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
